.first{
    border: 2px solid green;
    background-color:burlywood;
    padding: 30px 60px 90px 120px;
}

.second{

    border: 20px double blue;
    background-color: aqua;
}

.text{
    color: blueviolet;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    margin: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 60px;
}

/* 
 border : width style color

 border style:
 solid
 dashed
 dotted 
 double
*/